{% extends "adminLayout.html" %}

{% block content %}

<h1 align="center">Add a New Game</h1>
<br><br><br />
<div class="container">
    <form class="form-inline" method="post" action="/newGameAdded" onsubmit="return newGameValidation()">
        <div class="row">
            <label class="col-md-2 col-form-label form-label">Game Name</label>
            <div class="col-md-4">
                <input type="text" required id="gameName" name="gameName" oninput="checkGame()" /><span id="gameError"></span>
            </div>
            <label class="col-md-2 col-form-label form-label">Game Price</label>
            <div class="col-md-4">
                <input type="number" required id="gamePrice" name="gamePrice" min="1" max="100" />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-2 col-form-label form-label">1st Prize</label>
            <div class="col-md-4">
                <input type="number" required id="prize1" name="prize1" step="1" min="5000" max="100000" pattern="[0-9]{1,}+[.]+[0-9]{2}" />
            </div>
            <label class="col-md-2 col-form-label form-label">1st Prize Chance</label>
            <div class="col-md-4">
                <input type="number" required id="prize1Chance" name="prize1Chance" oninput="calcNoWinChance();" step="0.01" min="0.01" max="0.06" pattern="[0]{1}+[.]+[0-9]{2}" />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-2 col-form-label form-label">2nd Prize</label>
            <div class="col-md-4">
                <input type="number" required id="prize2" name="prize2" step="1" min="2000" max="30000" pattern="[0-9]{1,}+[.]+[0-9]{2}" />
            </div>
            <label class="col-md-2 col-form-label form-label">2nd Prize Chance</label>
            <div class="col-md-4">
                <input type="number" required id="prize2Chance" name="prize2Chance" oninput="calcNoWinChance();" step="0.01" min="0.04" max="0.12" pattern="[0]{1}+[.]+[0-9]{2}" />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-2 col-form-label form-label">3rd Prize</label>
            <div class="col-md-4">
                <input type="number" required id="prize3" name="prize3" step="1" min="100" max="10000" pattern="[0-9]{1,}+[.]+[0-9]{2}" />
            </div>
            <label class="col-md-2 col-form-label form-label">3rd Prize Chance</label>
            <div class="col-md-4">
                <input type="number" required id="prize3Chance" name="prize3Chance" oninput="calcNoWinChance();" step="0.01" min="0.08" max="0.17" pattern="[0]{1}+[.]+[0-9]{2}" />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-2 col-form-label form-label">4th Prize</label>
            <div class="col-md-4">
                <input type="number" required id="prize4" name="prize4" step="1" min="10" max="1000" pattern="[0-9]{1,}+[.]+[0-9]{2}" />
            </div>
            <label class="col-md-2 col-form-label form-label">4th Prize Chance</label>
            <div class="col-md-4">
                <input type="number" required id="prize4Chance" name="prize4Chance" onchange="calcNoWinChance();" step="0.01" min="0.10" max="0.19" pattern="[0]{1}+[.]+[0-9]{2}" />
            </div>
        </div>
        <br />
        <div class="row">
            <label class="col-md-2 col-form-label form-label">Non Winner Chance</label>
            <div class="col-md-4">
                <input type="text" readonly required value="0.00" id="notAWin" name="notAWin" step="0.01" />
            </div>
        </div>
        <br />
        <div class="row row-centered">
            <input class="btn btn-primary btn-lg" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}