<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
        <script src="../static/scripts/jquery-1.10.2.min.js"></script>
        <script src="/static/scripts/bootstrap.js"></script>
        <script src="/static/scripts/respond.js"></script>
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="../static/scripts/AJAXCalls.js"></script>
        <script src="../static/scripts/FormScripts.js"></script>
        <script src="/static/scripts/modernizr-2.6.2.js"></script>
    </head>
<body>
    <h2>ClickNWin Admin Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <span class="{{category}}">{{message}}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}<br />
    <div class="container">
        <form action="/adminLoggedIn" method="post">
            <div class="row">
                <label class="col-md-2 col-form-label form-label">Username</label>
                <div class="col-md-4">
                    <input type="text" id="username" name="username" required  /><br />
                </div>
            </div><br />
            <div class="row">
                <label class="col-md-2 col-form-label form-label">password</label>
                <div class="col-md-4">
                    <input type="password" id="password" name="password" required /><br />
                </div>
            </div><br />
            <div class="row">
                <div class="row row-centered">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>

</body>

</html>