{% extends "loginLayout.html" %}

{% block content %}

<h1 align="center">Welcome to ClickNWin - The Online Scratch Card Site</h1>
<h3 align="center">Online Gaming at its Finest</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<span>{{message}}</span>
{% endfor %}
{% endif %}
{% endwith %}
<br /><br /><br />

<div class="container">
    <div class="row row-centered">
        <div class="col-md-4 mainp">
            <p class="loginphome">Scratch Cards are available from as little as €2.  Buy some <a href="{{url_for('buyCards')}}">here</a></p>
        </div>
        <div class="col-md-4 mainp">
            <p class="loginphome">Running low on funds to buy more cards?  Top up your account with your registered payment method in seconds.  Click <a href="{{url_for('topUp')}}">here</a> to top up.</p>
        </div>
        <div class="col-md-4 mainp">
            <p class="loginphome">Have some unredeemed cards still in your account?  Redeem them today for a chance to win.  Go to <a href="{{url_for('myCards')}}">My Cards</a> for your chance to win.</p>
        </div>
    </div>
</div>


{% endblock %}