{% extends "loginLayout.html" %}

{% block content %}

    <h1 align="center">My Cards</h1><br /><br />
    <form method="post" action="/redeemCard">
    <table id="cardsTable" class="display">
        <thead>
            <tr>
                <td>Card Number</td>
                <td>Bought On</td>
                <td>Type</td>
                <td>Bought By</td>
                <td>Redeem Link</td>
            </tr>
        </thead>
        <tbody>
            {% for i in cards %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td><input type="submit" class="btn btn-primary btn-lg" name="{{i[0]}}" value= "Redeem" /></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</form>
<script>
    $(document).ready(function () {
        $('#cardsTable').DataTable({
            "pageLength": 5,
            "searching": false,
            "bLengthChange": false
        });
    });
</script>


{% endblock %}