{% extends "loginLayout.html" %}

{% block content %}
<h1>Clcik the grey panels to reveal your prize</h1>

<button class="cardPanel" id="panel1" style="top:255px;left:275px;" onclick="reveal()"></button>
<button class="cardPanel" id="panel2" style="top:295px;left:275px;" onclick="reveal()"></button>
<button class="cardPanel" id="panel3" style="top:335px;left:275px;" onclick="reveal()"></button>
<button class="cardPanel" id="panel4" style="top:255px;left:375px;" onclick="reveal()"></button>
<button class="cardPanel" id="panel5" style="top:295px;left:375px;" onclick="reveal()"></button>
<button class="cardPanel" id="panel6" style="top:335px;left:375px;" onclick="reveal()"></button>
<img src = "{{path}}" />


{% endblock %}