{% extends "loginLayout.html" %}

{% block content %}

<h1>Top Up Funds</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<span>{{message}}</span>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <form action="/addFunds" method="post">
        <div class="row">
            <label class="col-md-2 col-form-label form-label">Select a Card</label>
            <div class="col-md-4">
                <select required id="paymentCards" name="card">
                    {% for i in payCards %}
                    <option value="{{i['id']}}">{{i['cardType']}} card ending in {{i['endNo']}}</option>
                    {% endfor %}
                </select>
            </div><br />
        </div>
        <div class="row">
            <label class="col-md-2 col-form-label form-label">Enter your CVV2 Number</label>
            <div class="col-md-4">
                <input type="text" id="cvv" name="cvv" required pattern="[0-9]{3}" title="Must contain only three digits" />
            </div>
        </div><br />
        <div class="row">
            <label class="col-md-2 col-form-label form-label">Select the Top Up Amount</label>
            <div class="col-md-4">
                <select required id="amount" name="amount">
                    <option value="5">€5</option>
                    <option value="10">€10</option>
                    <option value="15">€15</option>
                    <option value="20">€20</option>
                </select>
            </div>
        </div><br />
            <div class="row">
                <div class="row row-centered">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
            </div>
        </form>
</div>

{% endblock %}